/* Css Général */

body{
    font-family: "Raleway", "Sans serif"; 
    margin: 0;  
  }
  
  a{
    text-decoration: none;
    color: inherit;
  }
  
  :root {
    --main-blue: #0065FC; 
    --blue-light: #DEEBFF; 
    --bg-grey:#F2F2F2;
  }
  
  
  
  
  
  
  /* Header */
  
  .header{
    display: grid;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navlink register";
  }
  
  .header-logo{
    grid-area: logo;
    height: 3rem;
    padding: 0 2rem;
  
  }
  
  .header-nav{
    display: flex;
    align-items: center;
    grid-area: navlink;
  }
  
  .header-nav-link{
    padding: 2rem; 
    text-align: center; 
    font-weight: 500;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
  
  .header-nav-link-register{
    display: flex;
    align-items: center;
    grid-area: register;
    color: var(--main-blue);
    font-weight: bold;
    padding: 2rem;
  }
  
  .header-nav-link:hover{
    color: var(--main-blue); 
    border-top: 3px solid var(--main-blue);    
  }
  
  .header-nav-link-register:hover{
   border-top: 3px solid transparent;
   border-bottom: 3px solid transparent;
  }
  
  
  
  /* Section Recherche */
  
  .main{
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem ;
  }
  
  /* Header Recherche */
  
  .search{
    padding: 0;
  }
  
  .search-header-title{
    margin-bottom: 0.5rem;
  }
  
  .search-header-subtitle{
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
  
  
  /* Formulaire de recherche */
  
  .searchform {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
  }
  .searchform-icon {
  background-color: #F2F2F2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
  }
  
  .searchform-text-input {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  }
  .searchform-text-input::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  color: #00000069;
  }
  .searchform-submit-input-web, .searchform-submit-input-mobil {
  background-color:var(--main-blue);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
  }
  
  .searchform-submit-input-mobil{
  display: none;
  }
  
  /* Filtres de recherche */
  
  .search-filters {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  }
  .search-filters-title {
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
  }
  .search-filters-input {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
  }
  .search-filters-input:last-child {
  margin-right: 0;
  }
  .search-filters-input:hover {
  box-shadow: inset 220px 0  var(--blue-light);
  color: var(--main-blue);
  border: 2px solid var(--blue-light);
  }
  .search-filters-icon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
  }
  .search-filters-icon-i {
  color:var(--main-blue);
  }
  .search-filters-input-title {
  margin: 0 1rem;
  }
  .search-info {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
  }
  .search-info-icon {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  }
  .search-info-icon-i {
  color:var(--main-blue);
  }
  .search-info-text {
  margin: 0;
  }
  
  
  
  /* Section Hébergements */
  
  .hostingWrapper, .hosting-popular, .hosting-main {
  background-color: var(--bg-grey);
  border-radius: 1.5rem;
  padding: 2rem;
  }
  
  .hosting {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 6fr 3fr;
  }
  .hosting-main {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  }
  .hosting-main-header {
  grid-column: 1/-1;
  }
  
  .hosting-main-header-titel{
  margin: 0;
  }
  
  .hosting-main-article {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
  }
  .hosting-main-article:hover {
  transform: scale(1.02);
  }
  .hosting-main-article-figure {
  margin: 0;
  }
  .hosting-main-article-figure-img {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
  }
  .hosting-main-article-figure-h3-title {
  margin: 0.25rem 0.75rem 0 0.75rem;
  }
  .hosting-main-article-price {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
  }
  .hosting-main-article-price-€ {
  font-weight: bold;
  }
  .hosting-main-article-star {
  margin: 0 0.75rem 0.25rem 0.75rem;
  }
  .hosting-main-article-star-icon[data-active=true] {
  color: var(--main-blue);
  }
  .hosting-main-article-star-icon[data-active=false] {
  color: var(--bg-grey);
  }
  .hosting-main-showmore {
  font-weight: bold;
  }
  .hosting-popular {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
  }
  .hosting-popular-title {
  margin: 0;
  display: flex;
  justify-content: space-between;
  }
  .hosting-popular-article-a {
  display: flex;
  align-items: stretch;
  height: 100%;
  overflow: auto;
  }
  .hosting-popular-article-div {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
  }
  .hosting-popular-article-img {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .hosting-popular-info {
  display: flex;
  flex-direction: column;
  }
  .hostingPopularWrapcontentContentWhitespace {
  flex: 1;
  }
  .hosting-popularhosting-main-article {
  height: 8.75rem;
  }
  
  
  /* Section Activités */
  
  .activity {
  display: grid;
  column-gap: 2rem;
  margin: 4rem 0;
  }
  .activity-title {
  grid-column: 1/-1;
  }
  
  .activity-place {
  box-shadow: 0 0 20px rgba(0 0 0 0.2);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-grey);
  }
  .activity-place:hover {
  transform: scale(1.01);
  }
  .activity-place-location {
  position: relative;
  flex: 1;
  }
  .activity-place-location-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  }
  .activity-place-titel {
  margin: 1rem;
  }
  
  
  /* Footer */
  
  .footer {
  background-color: var(--bg-grey);
  width: 100%;
  }
  .footer-column {
  display: flex;
  max-width: 100%;
  width: 1500px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
  }
  .footer-column-info {
  width: 30%;
  padding: 2rem 2rem;
  }
  .footer-column-info-link {
  display: block;
  margin: 1rem 0;
  }
  
  
  /* Partie Responsive */
   
  /* Section Hébergements */
  
  @media screen and (max-width: 1024px) {
  .hosting {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .hosting-popular {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 10rem;
    column-gap: 2rem;
    grid-row-start: 1;
  }
  .hosting-popular-title {
    grid-column: 1/-1;
  }
  }
  
  @media screen and (min-width: 768px) {
  .hosting-main {
    grid-template-columns: repeat(3, 1fr);
  }
  }
  
  @media screen and (max-width: 768px) and (min-width: 650px) {
  .hosting-main {
    grid-template-columns: 1fr 1fr;
  }
  }
  
  @media screen and (max-width: 650px) {
  .hosting-main {
    grid-template-columns: 1fr;
  }
  }
  
  @media screen and (max-width: 768px) {
  .hosting-popular {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
  }
  
  
  /* Activités Desktop */
  
  @media screen and (min-width: 1024px) {
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }
  .activity-place-1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .activity-place-2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .activity-place-3 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activity-place-4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activity-place-5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activity-place-6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
  }
  
  @media screen and (max-width: 1024px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 12rem 12rem;
  }
  }
  
  @media screen and (max-width: 768px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 12rem 12rem 12rem;
  }
  }
  
  