

body{
font-family: 'Raleway', sans-serif;
margin: 0;
}

a{
    text-decoration: none;
}

:root{
    --main-blue: #0065fc;
    --ligth-blue: #deebff;
    --gray-background: #f2f2f2;
}



.header{
    display: grid;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navlink register";
}

.header-logo{
    grid-area: logo;
}

.header-nav{
    grid-area: navlink;
    display: flex;
    align-items: center;
}

.header-nav-link{
    padding: 2rem; 
    text-align: center; 
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.header-nav-link-register{
    grid-area: register;
    padding: 2em;
    display: flex;
    align-items: center;
    color: var(--main-blue);
    font-weight: bold;

}


.header-nav-link:hover{
    color: var(--main-blue);
    border-top: 3px solid var(--main-blue);
}

.header-nav-link-register:hover{
    color: var(--main-blue);
    border-top: 3px solid var(--main-blue);
}
