/* Header Mobile */
  
@media screen and (max-width: 600px){
  
    .header{
        width: 100%;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
        "logo.register" "navlink navlink navlink";
    }
  
    .header-logo{
        order: 0;
    }
  
    .header-nav-link-register{
        order: 1;
    }
  
    .header-nav{
        order: 2;
    }
  
    .header-nav-link{
        width: 50%;
        text-align: center;
        border-top: none;
        border-bottom: 3px transparent solid;
    }
  }

  /* Recherche Mobile */
  
  @media screen and (max-width: 600px) {
    .searchform {
      display: flex;
      width: 100%;
    }
    .searchform-submit-input {
      flex: 1;
    }
    .searchform-submit-input-web {
      display: none;
    }
    .searchform-submit-input-mobil {
      display: block;
    }
    }
    
    @media screen and (max-width: 650px) {
    .search-filters-title {
      width: 100%;
    }
    .search-filters-input {
      margin-right: 1rem;
    }
    }

    /* Activités Mobile */ 
  
  @media screen and (max-width: 650px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
    }
    
    
    
    /* Footer Mobile */ 
    
    @media screen and (max-width: 700px) {
    .footer-column {
      flex-direction: column;
      padding: 2rem;
    }
    .footer-column-info {
      width: 100%;
      padding: 0;
      margin: 1rem 0;
    }
    .footer-column-info:first-child {
      margin-top: 0;
    }
    .footer-column-info:last-child {
      margin-bottom: 0;
    }
    .footer-column-info-title {
      margin: 0;
    }
    .footer-column-info-link:last-child {
      margin-bottom: 0;
    }
    }