 /* Header Tablette */
  
 @media screen and (min-width: 768px) and (max-width: 1024px) {
  
    .header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo.navlink register";
    }
  }

   /* Recherche Tablette */
  
   @media screen and (min-width: 601px) {
    .searchform-submit-input-web {
      display: block;
    }
    .searchform-submit-input-mobil {
      display: none;
    }
    }
